.partners {
	margin-bottom: 100px;

	.flex {
		display: flex;
    flex-direction: column;
    align-content: center;
    width: 68.75%;
    margin: auto;
    text-align: center;
	}	

	h3 {
		margin:0 0 20px 0;
	}
	p {
		margin: 0;
	}

	&__member-photo {
	width: 120px;
	height: 120px;
	margin: auto;
	position: relative;
	margin-bottom: 20px;

	img {
		border-radius: 60px;

		&:last-child {
			border: solid 4px #fff;
			border-radius: 20px;
			position: relative;
			right: -45px;
			bottom: 45px;
		}
	}

}
	&__member {
	margin: 0 0 30px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
}
}