.footer {
	border-top: solid 4px #ff4e50;
	padding-top: 35px;
	padding-bottom: 40px;

	.container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		background-image: url(../images/footer-bg.png);
		background-repeat: no-repeat;
		background-position: top right;		
	}

	@import 'footer__logo';
	@import 'footer__list';
}