.partners {
	margin-bottom: 100px;

	.flex {
		display: flex;
    flex-direction: column;
    align-content: center;
    width: 220px;
    margin: auto;
    text-align: center;
	}	

	h3 {
		margin:0 0 20px 0;
	}
	p {
		margin: 0;
	}

	@import 'partners__member';
	@import 'partners__member-photo';
}