.partners {
	margin-bottom: 100px;

	.flex {
		justify-content: center;
		align-items: baseline;
	}

	@media screen and (max-width: 320px) {
		flex-wrap: wrap;
	}

	

	h3 {
		margin:0 0 20px 0;
	}
	p {
		margin: 0;
	}

	@import 'partners__member';
	@import 'partners__member-photo';
}