/*  Этот код используеться для того, чтобы ширина и высота блока вели себя предсказуемо */

*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
}



body {
	font-size: 16px;
	background-image: url("../images/header-bg.jpg");
	background-repeat:no-repeat;
	background-size: 1;
	background-position: center top;
	min-width: 320px;
	
	@media all and (max-width: 747px) {
		background-image: url("../images/header-bg.jpg");
		background-repeat:no-repeat;
		background-size: auto 500px;
		background-position: center top;
	}
}

.container {
	margin: auto;
	width: 94%;
	max-width: 940px;
}

.flex {
	display: flex;
}

h2 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
}
