&__navigation {
  color: #fff;
  
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      a {
        color: #fff;
        display: block;
        font-size: 0.875em;
        margin: 0 10px; 
        padding: 10px 0 7px 0;
        text-decoration: none;

        &:hover {
          color: #333;
        }

      }

      &:last-child {
        a {
          border: solid 2px #fff;
          border-radius: 20px;
          display: inline-block;
          padding: 8px 17px 8px 17px;
          
          &:hover {
            border-color: #333;
          }
        }
      }
    }
    
  }
  
  @media all and (max-width: 394px) {
    margin: 20px auto 115px auto;
    order: 1;
  }

  @media all and (min-width: 395px) {
    margin: 40px 0 0 0;
    order: 2;
  }
}