&__about {
	margin: 0 auto;
	text-align: center;
	h1 {
		font-size: 1.875em;
		color: #fff;
		margin: 0;
		text-transform: uppercase;
	}

	p {
		color: #fff;
		font-size: 1.125em;
		margin: 0;
	}

	a {
		color: #fff;
		font-size: 0.875em;
		text-decoration: none;
		display: inline-block;
		padding: 14px 52px;
		background-color: #ff4e50;
		border-radius: 30px;

		&:hover {
			background-color: #333;
			//color: #333;
		}
	}

	@media all and (max-width: 394px) {
		width: 91%;
		order: 3;
		h1 {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
		}
	}

	@media all and (min-width: 395px) {
		width: 66%;
		order: 3;
		align-self: center;
		position: relative;
		h1 {
			margin-bottom: 40px;
			font-size: 2.8em;
		}
		p {
			margin-bottom: 36px;
		}
	}

}