.ideas {
	margin-bottom: 100px;

	.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		a {
			border-radius: 4px;
			color: #fff;
			font-size: 1.375em;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			transition: font-size 0.3s linear;
			width: 100%;
			height: 100%;
			text-align: center;
			&:hover {
				font-size: 1.6em;
				background-color: rgba(51, 51, 51, .5);
			}

		}
		.gallery__picture {
			height: 310px;
			//background-color: #ff4e50;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
		}

		.gallery__picture_small {
			width: 31.9%;
		}

		.gallery__picture_large {
			width: 65.95%;
		}

		.gallery__picture_1 {
			background-image: url(../images/idea-img-1.jpg);
			background-position: center center;
		}

		.gallery__picture_2 {
			background-image: url(../images/idea-img-2.jpg);
			background-position: center center;
		}

		.gallery__picture_3 {
			background-image: url(../images/idea-img-3.jpg);
			background-position: center center;
		}

		.gallery__picture_4 {
			background-image: url(../images/idea-img-4.jpg);
			background-position: center center;
		}

		.gallery__picture_5 {
			background-image: url(../images/idea-img-5.jpg);
			background-position: center center;
		}

		.gallery__picture_6 {
			background-image: url(../images/idea-img-6.jpg);
			background-position: center center;
		}

		.gallery__picture_7 {
			background-image: url(../images/idea-img-7.jpg);
			background-position: center center;
		}
	}
	
}